.DS_Store

towerdefense/*.iml
towerdefense/towerdefense-core/*.iml
towerdefense/towerdefense-game/*.iml
towerdefense/towerdefense-server/*.iml

towerdefense/.idea
towerdefense/towerdefense-core/.idea
towerdefense/towerdefense-game/.idea
towerdefense/towerdefense-server/.idea

towerdefense/target
towerdefense/towerdefense-core/target
towerdefense/towerdefense-game/target
towerdefense/towerdefense-server/target


towerdefense/towerdefense-game/src/resources/*.jar
